*{
    margin: 0;
    padding: 0;
}
body{
    background-color: cadetblue;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center ;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
    border: none;
    font-size: 8vmin;
    font-weight: 700;
    color: #b0413e;
    cursor: pointer;
    background: rgb(226, 216, 198);

}
.players{
    margin-top: 5vmin;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
#p1name{
    width: 25vmin;
    height: 6vmin;
    padding-left: 8px;
    outline: none;
    border: none;
     font-size: 18px;
     border-radius: 4px;

}
#p2name{
    width: 25vmin;
    border-radius: 4px;
    border: none;
    outline: none;
    height: 6vmin;
    font-size: 18px;
    padding-left: 8px;
}
.symbol-x{
    display: flex;
    flex-direction: column;
    
    color: orange;
    
}
.symbol{
    margin-bottom: 4px;
    font-size: 28px;
    font-weight: 700;
}

.symbol-y{
    display: flex;
    flex-direction: column;
    color:green ;
}
.reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    background: #191913;
    cursor: pointer;
    border-radius: 2.5rem;
    border: none;
}
.newGame-btn{
      padding: 1rem;
    font-size: 1.5rem;
    color: white;
    background: #191913;
    cursor: pointer;
    border-radius: 2.5rem;
    border: none;
}
.msg-container{
    height: 100vmin;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;

}
.msg{
    font-size: 8vmin;
    color: aliceblue;
}
.hide{
   
    display: none;
}